@property --angle {
  syntax: "<angle>";
  initial-value: 5deg;
  inherits: true;
}
@property --space {
  syntax: "<length-percentage>";
  initial-value: 8.7488663526vw;
  inherits: true;
}
@property --hypot {
  syntax: "<length-percentage>";
  initial-value: 100.3819837543vw;
  inherits: true;
}

section{
  margin: calc(-.5*var(--space)) 0;
  padding: calc(var(--space)) 0.5rem;
}

section{
  grid-gap: 1rem;
  place-items: center;
}

section {
  --_p: var(--p, 0);
  --not-p: calc(1 - var(--_p));
  --sgn-p: calc(2*var(--_p) - 1);
  position: relative;
  padding-bottom: calc(var(--space) + 0.5rem);
  background: linear-gradient(to bottom right, var(--sl));
  -webkit-clip-path: polygon(calc(var(--not-p)*100%) 0, calc(var(--_p)*100%) var(--space), calc(var(--_p)*100%) calc(100% - var(--space)), calc(var(--not-p)*100%) 100%);
          clip-path: polygon(calc(var(--not-p)*100%) 0, calc(var(--_p)*100%) var(--space), calc(var(--_p)*100%) calc(100% - var(--space)), calc(var(--not-p)*100%) 100%);
}
section:nth-of-type(2n) {
  --p: 1 ;
}
section::after {
  position: absolute;
  top: calc(.5*var(--space));
  left: calc(50% - .5*var(--hypot));
  width: var(--hypot);
  height: 1rem;
  transform: rotate(calc(var(--sgn-p)*var(--angle)));
  background: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.375), rgba(0, 0, 0, 0.125), transparent) 50% 0/115% 100%;
  mix-blend-mode: multiply;
  content: "";
}

section h2 {
  box-sizing: border-box;
  margin: calc(-1*var(--space)) calc(var(--_p)*(100% - var(--hypot))) var(--space) calc(var(--not-p)*(100% - var(--hypot)));
  width: var(--hypot);
  padding: 0.5rem calc(.5*(var(--hypot) - 18em));
  transform-origin: calc(var(--not-p)*100%) 0;
  transform: rotate(calc(var(--sgn-p)*var(--angle)));
  text-align: var(--p, right);
  text-shadow: 1px 1px #fff;
}

section p {
  max-width: 39em;
}


section .box {
  --pass: 0;
  --not-pass: calc(1 - var(--pass));
  box-sizing: border-box;
  border: solid 1px hsl(calc(359 - var(--pass)*261), calc(47% - var(--pass)*15%), calc(51% - var(--pass)*6%));
  border-left-width: 5px;
  padding: 0.5rem;
  background: hsla(0, 0%, calc(var(--pass)*100%), 0.57);
  color: hsl(0, 0%, calc(var(--not-pass)*100%));
}
section .box[data-view=pass] {
  --pass: 1 ;
}


[data-view=fail] {
  display: block;
}

[data-view=pass] {
  display: none;
}

code, kbd {
  padding: 1px 3px;
  background: rgba(255, 255, 255, 0.25);
}

section a {
  z-index: 1;
  padding: 0 2px;
  color: #fc8621;
  text-decoration: none;
  isolation: isolate;
}
section a::before {
  inset: 0;
  transform-origin: 0 100%;
  transform: scaley(calc(var(--hl) + .1*(1 - var(--hl))));
  background: currentcolor;
  mix-blend-mode: difference;
  transition: transform 0.3s ease-out;
}

@supports (z-index: tan(0deg)) {
  body {
    --angle: clamp(0deg, var(--custom-angle), var(--limit, 15deg));
    --space: calc(100vw*tan(var(--angle)));
    --hypot: calc(100vw/cos(var(--angle))) ;
  }

  [data-feat=trig] {
  }
  [data-feat=trig][data-view=fail] {
    display: none;
  }
  [data-feat=trig][data-view=pass] {
    display: block;
  }
}
